{% extends 'base.html' %}

{% block content %}

request.method == {{ request.method }}
{{ request.GET }}
{{ request.POST }}

<form method="POST">
  {% csrf_token %}
 <!-- <label>title</label>
  <input type='text' name='title' />
  {% if error.title %}
    <p>Input title !</p>
    {% endif %}
  <br>
  <label>content</label>
  <textarea type='text' name='content'></textarea>
  {% if error.content %}
    <p>Input content !</p>
    {% endif %} -->
    {{ form.as_p }}
  <button type='submit'>submit</button>
</form>
<script>
  $(document).ready(function(){
    $('select').material_select();
  });
</script>

{% endblock %}